---
layout: default
---
<link href="https://cdn.kde.org/aether-devel/kde-org/index.css" rel="stylesheet" />
<main id="home">
  <section class="section-blue" id="plasma">
    <div class="container">
      <div class="mb-3">
      <h1>Plasma</h1>
      <h2>Nová generace uživatelského prostředí pro Linux</h2>
      <div class="laptop-with-overlay d-inline-block mt-3">
        <img class="laptop img-fluid mt-3" src="https://kde.org/content/plasma-desktop/laptop.png" alt="empty laptop with an overlay">
        <div class="laptop-overlay">
          <img class="img-fluid mt-3" src="https://kde.org/content/home/kde-main.jpg" alt="Screenshot Plasma with Dolphin and system setting open" loading="lazy" width="1200" height="675" />
        </div>
      </div>
      </div>
      <div class="plasma-info">
        <a href="/distributions" class="learn-more button mb-3">Nainstalovat na počítač</a>
        <a href="/plasma-desktop" class="learn-more mb-3">Prozkoumat možnosti prostředí Plasma</a>
        <a href="/hardware" class="learn-more mb-3">Koupit počítač s prostředím Plasma</a>
      </div>
    </div>
  </section>

  <section id="kde-connect">
    <div class="container">
      <h1>Aplikace KDE</h1>
      <h2>Výkonné, pro více platforem a pro všechny</h2>
      <p>Pomocí softwaru KDE můžete surfovat na Internetu, zůstat v kontaktu s kolegy, přáteli i rodinou, spravovat soubory, poslouchat hudbu či sledovat video, nebo také kreativně a produktivně pracovat. Komunita KDE vyvýjí a udržuje více než <strong>200</strong> aplikací, které běží na operačním systému Linux a často i na jiných platformách.</p>
      <p>
        <a class="learn-more mt-3" href="/applications">Zobrazit všechny aplikace</a>
      </p>
      <div>
      <div class="row mb-5 mt-5 app" id="krita-showcaste">
        <div class="col-12 col-lg-5 app-description mt-4">
          <div>
            <a href="https://krita.org"><img src="https://kde.org/applications/icons/org.kde.krita.svg" alt="Krita logo" width="90" height="90"></a>
            <h3 class="mt-1"><a href="https://krita.org">Krita</a></h3>
            <p>Nechte se unést na vlně kreativity a vytvářejte své umění v Kritě, aplikaci pro kreslení na profesionální úrovni.</p>
          </div>
        </div>
        <a href="https://krita.org" class="col-12 col-lg-7"><img class="img-fluid" src="https://krita.org/wp-content/uploads/2019/08/krita-ui-40.png" alt="Krita screenshot" loading="lazy" width="1575" height="1004" /></a>
      </div>
      <div class="row mt-5 app" id="kdenlive-showcaste">
        <div class="col-12 col-lg-5 app-description mt-4">
          <div class="w-100">
            <a href="https://kdenlive.org"><img src="https://kde.org/content/home/kdenlive.svg" alt="Kdenlive logo" width="90" height="90"></a><br />
            <h3 class="mt-1"><a href="https://kdenlive.org">Kdenlive</a></h3>
            <p>V Kdenlive je možné upravovat videa a přidávat speciální efekty a přechody.</p>
          </div>
        </div>
        <a href="https://kdenlive.org" class="col-12 col-lg-7"><img class="img-fluid" src="https://kde.org/applications/thumbnails/org.kde.kdenlive/k1.png" alt="Kdenlive screenshot" width="720" height="379" loading="lazy" /></a>
      </div>
      <div class="row mt-5 app" id="kontact-showcaste">
        <div class="col-12 col-lg-5 mt-4 app-description">
          <div class="w-100">
            <a href="https://kontact.kde.org"><img src="https://kde.org/applications/icons/org.kde.kontact.svg" alt="Kontact logo" width="90" height="90"></a>
            <h3 class="mt-1"><a href="https://kontact.kde.org">Kontact</a></h3>
            <p>Spravujte své emaily, kalendáře a kontakty v jednom okně pomocí aplikace Kontact.</p>
          </div>
        </div>
        <a href="https://kontact.kde.org" class="col-12 col-lg-7"><img class="img-fluid" src="https://kontact.kde.org/assets/img/kontact-korganizer.png" alt="Kontact screenshot" loading="lazy" width="1240" height="777" /></a>
      </div>
      <div class="row mb-5 app mt-5" id="kdevelop-showcaste">
        <div class="col-12 col-lg-5 mt-4 app-description">
          <div class="w-100">
            <a href="https://kdevelop.org"><img src="https://kde.org/applications/icons/org.kde.kdevelop.svg" alt="KDevelop logo" width="90" height="90"></a>
            <h3 class="mt-1"><a href="https://kdevelop.org">KDevelop</a></h3>
            <p>KDevelop je integrované vývojové prostředí (IDE) pro jazyky C, C++, Python, QML/JavaScript a PHP fungující na více platformách</p>
          </div>
        </div>
        <a href="https://kdevelop.org" class="col-12 col-lg-7"><img class="img-fluid" src="https://www.kdevelop.org/sites/www.kdevelop.org/files/inline-images/kdevelop5-breeze_2.png" alt="KDevelop screenshot" loading="lazy" width="1043" height="683" /></a>
      </div>
      <div class="row app mt-5" id="gcompris-showcaste">
        <div class="col-12 col-lg-5 mt-4 app-description">
          <div class="w-100">
            <a href="https://gcompris.net"><img src="https://kde.org/applications/icons/org.kde.gcompris.svg" alt="GCompris logo" width="90" height="90"></a>
            <h3 class="mt-1"><a href="https://gcompris.net">GCompris</a></h3>
            <p>GCompris je balík kvalitních naučných programů zahrnující mnoho aktivit pro děti ve věku 2 až 10 let.</p>
          </div>
        </div>
        <a href="https://gcompris.net" class="col-12 col-lg-7"><img class="img-fluid" src="https://kde.org/applications/thumbnails/org.kde.gcompris/gcompris.png" alt="GCompris screenshot" height="576" width="720" loading="lazy" /></a>
      </div>
      </div>
    </div>
  </section>
  
  <section class="section-blue">
    <div class="container">
      <h1>Hardware</h1>
      <h2>Kupte si počítač s předinstalovaným prostředím Plasma</h2>
      <div class="hardware-grid">
        <div class="pinebook">
          <a href="https://www.pine64.org/pinebook-pro/">
            <img src="https://kde.org/content/hardware/pinebook-pro.png" alt="Pinebook Pro"/>
          </a>
        </div>
        <div class="pinebook-desc">
          <h5><a href="https://www.pine64.org/pinebook-pro/">Pinebook Pro</a></h5>
          <p class="text-left">Pinebook Pro je cenově dostupný notebook s procesorem ARM. Díky použití otevřeného softwaru je nebývale modulární a upravitelný.</p>
        </div>
        <div class="slimbook">
          <a href="https://kde.slimbook.es/">
            <img src="https://kde.org/content/hardware/slimbook.png" alt="KDE Slimbook II"/>
          </a>
        </div>
        <div class="slimbook-desc">
          <h5><a href="https://kde.slimbook.es/">KDE Slimbook II</a></h5>
          <p class="text-left">Slimbook je nablýskaný, elegantní a dobře vypadající notebook, který hravě zvládne jakýkoliv úkol díky výkonnému procesoru z řady Intel Core.</p>
        </div>
        <div class="focus">
          <a href="https://kfocus.org/">
            <img src="https://kde.org/content/hardware/focus.png" alt="Kubuntu Focus"/>
          </a>
        </div>
        <div class="focus-desc">
          <h5><a href="https://kfocus.org/">Kubuntu Focus</a></h5>
          <p class="text-left">Notebook Kubuntu Focus velmi výkonný stroj zaměřený na práci s předinstalovaným operačním systémem Kubuntu.</p>
        </div>
      </div>
      <p>Existují i další výrobci hardwaru, kteří prodávají své počítače s prostředím Plasma. <a href="/hardware">Chci vědět více.</a></p>
    </div>
  </section>

  <section class="section-green">
    <div class="container my-4">
      <h2 class="mb-3 h1">Oznámení</h2>
      <ul class="list-unstyled">
                <!-- This comment is a marker for Latest Announcements, used by scripts -->
                <li>
                    <h2>Vyšla nová verze KDE Plasma 5.19.4</h2>
                    <i>28. července 2020</i><br />
                    <q>Vyšla nová verze prostředí KDE Plasma 5, konkrétně verze 5.19.4</q><br />
                    <a href="announcements/plasma-5.19.4" class="learn-more">Přečíst si plné znění (anglicky)</a>
                </li>
                <li>
                    <h2>Vyšla nová verze Frameworks 5.72.0</h2>
                    <i>11. července 2020</i><br />
                    <q>Tato verze je součástí série plánovaných vydání, které mají za cíl usnadnit život vývojářům rychlým a předvídatelným způsobem.</q><br />
                    <a href="https://www.kde.org/announcements/kde-frameworks-5.72.0" class="learn-more">Přečíst si plné znění (anglicky)</a>
                </li>
                <li>
                    <h2>Červencová aktualizace aplikací na verzi 20.04.3</h2>
                    <i>9. července 2020</i><br />
                    <q>Nové verze aplikací KDE za poslední měsíc.</q><br />
                    <a href="announcements/releases/2020-07-apps-update/" class="learn-more">Přečíst si plné znění (anglicky)</a>
                </li>
                <li>
                    <h2>Vyšla nová verze KDE Plasma 5.12.9 LTS</h2>
                    <i>10. září 2019</i><br />
                    <q>KDE vydalo novou verzi KDE Plasma 5 s prodlouženou podporou (LTS), konkrétně verzi 5.12.9.</q><br />
                    <a href="announcements/plasma-5.12.9.php" class="learn-more">Přečíst si plné znění (anglicky)</a>
                </li>
      </ul>

      <a href="announcements/" class="learn-more" style="font-weight: bold;">&#x1F4E2; Zobrazit všechna oznámení</a>
    </div>
  </section>

  <section class="section-community section-blue">
    <div class="container">
      <h1 class="mb-3" id="community">Komunita KDE</h1>
      <h2>Mezinárodní tým vytvářející a distribuující otevřený software.</h2>
      <p>Naše komunita vytvořila širokou škálu aplikací pro komunikaci, práci, vzdělávání a zábavu. Zaměřujeme se především na hledání novátorských řešení starých i nových problémů, čímž se snažíme podporovat živou a otevřenou atmosféru pro zkoušení nových věcí.</p>
      <div class="text-center mb-3">
        <a href="/community/whatiskde" class="button ml-2 mr-2">Chci vědět více</a>
        <a href="https://community.kde.org/Get_Involved" class="noblefir ml-2 mr-2">Chci se zapojit</a>
      </div>
    </div>
    <div class="community-grid container">
      <figure class="text-center card community-1">
        <picture class="img-fluid">
          <source srcset="https://kde.org/content/people/lakademy-2019x2.jpg 1x, https://kde.org/content/people/lakademy-2019x2.jpg 2x">
          <img src="https://kde.org/content/people/lakademy-2019x2.jpg" alt="LaKademy 2018 group photo" class="img-fluid">
        </picture>
        <figcaption class="card-body">
          <a href="https://lakademy.kde.org/">LaKademy 2018</a> - Salvador, Brazílie
        </figcaption>
      </figure>
      <figure class="text-center card community-2">
        <img src="https://kde.org/content/people/plasma-sprint.jpg" alt="Plasma Sprint" class="img-fluid">
        <figcaption class="card-body">
          <a href="https://dot.kde.org/2018/05/14/plasma-sprint-berlin">Plasma Sprint</a> - Berlín
        </figcaption>
      </figure>
      <figure class="text-center card community-3">
        <picture class="w-100">
          <source srcset="https://kde.org/content/people/goal.jpg 1x, https://kde.org/content/people/goal.jpg 2x">
          <img src="https://kde.org/content/people/goal.jpg" alt="KDE goals" class="img-fluid w-100">
        </picture>
        <figcaption class="card-body">
          <a href="https://dot.kde.org/2019/09/07/kde-decides-three-new-challenges-wayland-consistency-and-apps">Setkání pro stanovení cílů KDE</a>
        </figcaption>
      </figure>
      <figure class="text-center card community-4">
        <picture class="img-fluid">
          <source srcset="https://kde.org/content/people/kdenlive-sprintx2.jpg 1x, https://kde.org/content/people/kdenlive-sprintx2.jpg 2x">
          <img src="https://kde.org/content/people/kdenlive-sprintx2.jpg" alt="KDenlive Sprint group photo" class="img-fluid">
        </picture>
        <figcaption class="card-body">
          <a href="https://dot.kde.org/2018/05/12/kdenlive-sprint-movie">Kdenlive Sprint</a> - Paříž, Francie
        </figcaption>
      </figure>
      <figure class="text-center card community-5">
        <picture class="img-fluid">
           <source srcset="https://kde.org/content/people/conf-kde-in-2019x2.jpg 1x, https://kde.org/content/people/conf-kde-in-2019x2.jpg 2x">
           <img src="https://kde.org/content/people/conf-kde-in-2019x2.jpg" alt="Conf.KDE.in group photo" class="img-fluid">
        </picture>
        <figcaption class="card-body">
          <a href="https://conf.kde.in">conf.kde.in</a> - Dillí, Indie
        </figcaption>
      </figure>
      <figure class="text-center card community-7">
        <picture class="img-fluid">
          <source srcset="https://kde.org/content/people/GSoC.jpg 1x, https://kde.org/content/people/GSoCx2.jpg 2x">
          <img src="https://kde.org/content/people/GSoC.jpg" alt="KDE GSoC students group photo" class="img-fluid">
        </picture>
        <figcaption class="card-body">
          <a href="https://community.kde.org/GSoC">Studenti Google Summer of Code</a>
        </figcaption>
      </figure>
      <figure class="text-center card community-8">
        <picture class="img-fluid">
          <source srcset="https://kde.org/content/people/lakademy-2018.jpg 1x, https://kde.org/content/people/lakademy-2018x2.jpg 2x">
          <img src="https://kde.org/content/people/lakademy-2018.jpg" alt="LaKademy 2018 group photo" class="img-fluid w-100">
        </picture>
        <figcaption class="card-body">
          <a href="https://dot.kde.org/2018/10/25/lakademy-2018-celebrates-22-years-kde">Lakademy</a> - Florianópolis, Brazílie
        </figcaption>
      </figure>
      <figure class="text-center card community-6">
        <picture class="img-fluid">
          <source srcset="https://kde.org/content/people/kde-connect.jpg 1x, https://kde.org/content/people/kde-connectx2.jpg 2x">
          <img src="https://kde.org/content/people/kde-connect.jpg" alt="KDE Connect Sprint" class="img-fluid">
        </picture>
        <figcaption class="card-body">
          <a href="https://dot.kde.org/2018/05/28/2018-kde-connect-development-sprint">KDE Connect Sprint</a> - Barcelona
        </figcaption>
      </figure>
    </div>
  </section>
</main>

<?php require('aether/footer.php'); ?>
